﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SwimCoach</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="px-0 py-0 mx-auto my-0">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container">
            <div>
                <a class="navbar-brand px-0 py-0 mx-0 my-0" href="/Home/Index/" >
                    <img src="~/Content/Logos/logo v2.svg" class="img-fluid" style="max-width: 70%;height: auto;width: 70%;" />
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto pt-2">
                   

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
