﻿@if (Request.IsAuthenticated || User.IsInRole("Admin"))
{


    <li class="nav-item dropdown mr-3" data-admin-button>
        <a href="#" class="btn btn-outline-danger nav-link dropdown-toggle" role="button" aria-haspopup="true">
            Admin
        </a>
        <div class="dropdown-menu" role="menu" data-admin-menu>

            <h5 class="dropdown-header">Users</h5>
            <a class="dropdown-item" href="/Admin/UserList">All users</a>
            <a class="dropdown-item" href="/Admin/UserSwimmers">Swimmers</a>
            <a class="dropdown-item" href="/Admin/UserCoaches">Coaches</a>
            <div class="dropdown-divider"></div>
            <h5 class="dropdown-header">Practices</h5>
            <a class="dropdown-item" href="/Admin/NewPractice">New practice</a>
            <a class="dropdown-item" href="/Admin/AllPractices">All practices</a>
            <div class="dropdown-divider"></div>
            <h5 class="dropdown-header">Results</h5>
            <a class="dropdown-item" href="/Admin/NewResult">New result</a>
            <a class="dropdown-item" href="/Admin/AllResults">All results</a>
        </div>
    </li>
}
@*
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
        <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>*@