﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    9061, Vámosszabadi<br />
    Újtelep utca 25.<br />
    <abbr title="Phone">P:</abbr>
    +36/30 701 96 99
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:kellerpeti@gmail.com">kellerpeti@gmail.com</a><br />
</address>