﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="container bg-secondary" style="box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5);">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-xs-12">
                <h4 class="text-center">Successful login!</h4>
                <h1 class="text-center">My dashboard</h1>
            </div>
        }
        else
        {
    <div class="row">

        @*// Left column*@
        <div class="col-lg-5 col-md-5 col-sm-4" style="padding: 0px;">
            @*<h2>I'm not logged in!</h2>*@
            <img src="~/Content/Images/hp_sw1.png" class="img-fluid" style="max-width: 100%; height: auto;" />
        </div>
        @*// Center column*@
        <div class="col-lg-7 col-md-7 col-sm-4">
            <h1 class="text-center py-2">Welcome to SwimCoach!</h1>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa nibh, efficitur eget ultrices at, tristique et arcu. Sed non lectus sed quam venenatis malesuada eget nec neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas venenatis mattis elit, nec commodo lectus fringilla a.
            </p>
        </div>
        @*// Right column
        <div class="col-lg-2 col-md-3 col-sm-4">
            <h4>Register new user!</h4>
        </div>*@
        
    </div>
            <div class="row pt-3">
                @*// Left column*@
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <h2 class="text-center pb-2">For swimmers...</h2>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa nibh, efficitur eget ultrices at, tristique et arcu. Sed non lectus sed quam venenatis malesuada eget nec neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas venenatis mattis elit, nec commodo lectus fringilla a.
                    </p>
                    <a href="#" class="btn btn-primary" style="margin-left: 40%;">Read more!</a>
                </div>
                @*// Right column*@
                <div class="col-lg-5 col-md-5 col-sm-5" style="padding: 0px;">
                    @*<h2>I'm not logged in!</h2>*@
                    <img src="~/Content/Images/hp_sw2.png" class="img-fluid" style="max-width: 100%; height: auto;"/>
                </div>

            </div>
            <div class="row pt-3">
                @*// Left column*@
                <div class="col-lg-5 col-md-5 col-sm-5" style="padding: 0px;">
                    @*<h2>I'm not logged in!</h2>*@
                    <img src="~/Content/Images/hp_co1.png" class="img-fluid" style="max-width: 100%; height: auto;"/>
                </div>
                @*// Right column*@
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <h2 class="text-center pb-2">...and coaches!</h2>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa nibh, efficitur eget ultrices at, tristique et arcu. Sed non lectus sed quam venenatis malesuada eget nec neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas venenatis mattis elit, nec commodo lectus fringilla a.
                    </p>
                    <a href="#" class="btn btn-primary my-auto" style="margin-left: 40%;">Read more!</a>
                </div>

            </div>
        }
        </div>